In [24]:
import pandas as pd
import numpy as np
import sys, os , time, pickle
from tabulate import tabulate
from IPython.display import display

def find_match(string,list_des):
    return [value for value in list_des if string in value]

def plot_files(file_name):
    print("\nFile to show: ",file_name)
    table = pd.read_csv(file_name)
    display(table)
    #print(tabulate(table, headers='keys', tablefmt='rst')) #latex
    
def calculate_aux(archivo,what_to_do="mv",model=""):
    try:
        f = open(archivo)
        result_list = []
        for line in f.readlines():
            if what_to_do == "mv":
                if "ACC MV" in line: 
                    result_list.append(float(line.split(" ")[-1].strip()))
            elif what_to_do == 'epochs':
                if "Epochs to converge" in line and model in line: 
                    result_list.append(float(line.split(" ")[-1].strip()))
        f.close()
        return result_list
    except:
        return "-"
    
def compare_table(tipo,repre="normal", std=False):
    t = pd.DataFrame()
    t["Methods"] = methods_list
    t["Train"] = ["-" for _ in range(len(methods_list))]
    t["Test"] = ["-" for _ in range(len(methods_list))]
    if tipo == 'acc':
        t.loc[0,"Train"] = np.mean(calculate_aux(folder+"results.txt",what_to_do="mv"))

    for k, method in enumerate(methods_list[1:]):
        aux = find_match(method,files)
        if tipo == "acc": #como normal?
            if std:
                test_aux = find_match("_train_std.csv",aux)
                t.loc[k+1,"Train"] = round(pd.read_csv(folder+test_aux[-1])["Accuracy"][0], 4)
                train_aux = find_match("_test_std.csv",aux)
                t.loc[k+1,"Test"] = round(pd.read_csv(folder+train_aux[-1])["Accuracy"][0], 4)
            else:
                test_aux = find_match("_train.csv",aux)
                t.loc[k+1,"Train"] = round(pd.read_csv(folder+test_aux[-1])["Accuracy"][0], 4)
                train_aux = find_match("_test.csv",aux)
                t.loc[k+1,"Test"] = round(pd.read_csv(folder+train_aux[-1])["Accuracy"][0], 4)

        elif "norm" in tipo.lower() or "js" in tipo.lower():
            if std:
                kl_aux = find_match("_train_std.csv",aux)
            else:
                kl_aux = find_match("_train.csv",aux)
            
            if len(kl_aux) != 0:                
                if repre=="R":
                    to_extract = "("+repre+") "+tipo+ " mean"
                elif repre=='G':
                    to_extract = "("+repre+") "+tipo
                try:
                    t.loc[k+1,"Train"] = round(pd.read_csv(folder+kl_aux[-1])[to_extract][0] ,4)
                except:
                    pass
        elif tipo == "epochs":
            methods_list_aux = ["soft-MV","hard-MV", "D&S", "Raykar", "Ours Global","Ours Individual","2", "3"]
            t.loc[k+1,"Train"]=calculate_aux(folder+"results.txt",what_to_do="epochs",model=methods_list_aux[k])
    return t

def get_value(lista, name, std=False):
    i = 0
    if std:
        i = 1
    return np.asarray([value[i][name][0] if type(value[i])== pd.DataFrame else -9999 for value in lista] )

def create_df(method_l,T_try, value, file_re = "./results.txt"):
    t = pd.DataFrame(np.zeros((len(method_l)+1,len(T_try))))    
    t.columns = T_try
    t.index = ["Ann(tr)"]+method_l
    t_std = t.copy()
    
    if value.lower() == "accuracy" or "F1" in value.lower():
        if len(calculate_aux(file_re,what_to_do="mv")) > len(T_try) +1:
            aux2 = calculate_aux(file_re,what_to_do="mv")
            aux = [np.mean(aux2[i:30*(i+1)]) for i in range(0,len(aux2),30)]
        else:
            aux = calculate_aux(file_re,what_to_do="mv")
        t.loc["Ann(tr)",:] = aux
        for method_l in methods_list:
            t.loc[method_l,:] = get_value(dic_res[method_l]["test"], value)
            t_std.loc[method_l,:] = get_value(dic_res[method_l]["test"], value, std=True)

    elif "inertia" in value.lower() or "iner" in value.lower():
        for method_l in methods_list:
            if "Ours" in method_l:
                t.loc[method_l,:] = get_value(dic_res[method_l]["testAux"], value)
                
    else:
        t.index = ["D_t"]+method_l
        t.loc["D_t",:] = D_t
        for method_l in methods_list:
            t.loc[method_l,:] = get_value(dic_res[method_l]["train"], value)
            t_std.loc[method_l,:] = get_value(dic_res[method_l]["train"], value, std=True)
    return t.round(4), t_std.round(4)

!ls

aux2.ipynb  LabelMe  LabelMe_v2  Plot_Results.ipynb  simple_T

In [25]:
!ls LabelMe
folder = "LabelMe/"

files = sorted(os.listdir(folder))
methods_list = list(set([f.split("_")[1] for f in os.listdir(folder) if (len(f.split("_")) >2) and ("UpperBound" not in f)]))
methods_list

LabelMe_DS_test.csv
LabelMe_DS_test_std.csv
LabelMe_DS_train.csv
LabelMe_DS_train_std.csv
LabelMe_hardMV_test.csv
LabelMe_hardMV_test_std.csv
LabelMe_hardMV_train.csv
LabelMe_hardMV_train_std.csv
LabelMe_OursGlobal_testAux.csv
LabelMe_OursGlobal_testAux_std.csv
LabelMe_OursGlobal_test.csv
LabelMe_OursGlobal_test_std.csv
LabelMe_OursGlobal_trainAnn.csv
LabelMe_OursGlobal_trainAnn_std.csv
LabelMe_OursGlobal_train.csv
LabelMe_OursGlobal_train_std.csv
LabelMe_OursIndividual2_testAux.csv
LabelMe_OursIndividual2_testAux_std.csv
LabelMe_OursIndividual2_test.csv
LabelMe_OursIndividual2_test_std.csv
LabelMe_OursIndividual2_trainAnn.csv
LabelMe_OursIndividual2_trainAnn_std.csv
LabelMe_OursIndividual2_train.csv
LabelMe_OursIndividual2_train_std.csv
LabelMe_OursIndividual3_testAux.csv
LabelMe_OursIndividual3_testAux_std.csv
LabelMe_OursIndividual3_test.csv
LabelMe_OursIndividual3_test_std.csv
LabelMe_OursIndividual3_trainAnn.csv
LabelMe_OursIndividual3_trainAnn_std.csv
LabelMe_OursIndividual3_train.csv
LabelMe_OursIndividual3_train_std.csv
LabelMe_Raykar_test.csv
LabelMe_Raykar_test_std.csv
LabelMe_Raykar_trainAnn.csv
LabelMe_Raykar_trainAnn_std.csv
LabelMe_Raykar_train.csv
LabelMe_Raykar_train_std.csv
LabelMe_softMV_test.csv
LabelMe_softMV_test_std.csv
LabelMe_softMV_train.csv
LabelMe_softMV_train_std.csv
LabelMe_UpperBound_test.csv
LabelMe_UpperBound_train.csv
results.txt

In [27]:
t_acc = compare_table("acc")
t_acc_std = compare_table("acc", std=True)

t_norm_R = compare_table("NormF","R")
t_norm_R_std = compare_table("NormF","R", std=True)
t_js_R = compare_table("JS","R")
t_js_R_std = compare_table("JS","R",  std=True)

t_norm_G = compare_table("NormF","G")
t_norm_G_std = compare_table("NormF","G", std=True)
t_js_G = compare_table("JS","G")
t_js_G_std = compare_table("JS","G", std=True)

t_epochs = compare_table("epochs")

t_acc

           Methods   Train    Test
0           hardMV   0.769       -
1           softMV  0.8311  0.8146
2       OursGlobal  0.8444  0.8266
3           Raykar  0.8483  0.8293
4  OursIndividual2  0.8377  0.8353
5  OursIndividual3  0.8121  0.8339
6               DS  0.8452  0.8325

In [ ]:
from IPython.display import display
display(t_js_R)
display(t_norm_R)

#ver como plotear bonito con el std

## T change

In [35]:
folder = "./simple_T/"

In [36]:
to_check = [100,500,1500,3500,6000,10000]

if 'simple' in folder.lower():
    T_data = 5 #for now is this..
    N = 2500
elif "cifar" in folder.lower():
    T_data = 3
    N = 50000
D_t = np.asarray([N*T_data/T for T in to_check])

files_f = [f for f in os.listdir(folder) if ".pickle" in f]
dic_res = {}
for file in files_f:
    #if len(file.split("_")) >2:
    _, method_name, method_type = (file.split(".pickle")[0]).split("_")
    with open(folder+file, 'rb') as handle:
        if method_name in dic_res:
            dic_res[method_name][method_type] = pickle.load(handle)
        else:
            dic_res[method_name] = {}
            dic_res[method_name][method_type] = pickle.load(handle)
methods_list = list(dic_res.keys())
methods_list

['DS',
 'OursIndividual3',
 'hardMV',
 'OursIndividual2',
 'softMV',
 'OursGlobal',
 'Raykar']

In [37]:
t, t_std = create_df(methods_list, to_check,"Accuracy", file_re=folder+'results_ind.txt')
t

                  100     500     1500    3500    6000    10000
Ann(tr)          0.7066  0.7310  0.7131  0.7334  0.7257  0.6976
DS               0.9455  0.9293  0.9309  0.9173  0.8725  0.8661
OursIndividual3  0.9418  0.9375  0.9419  0.9171  0.9158  0.6954
hardMV           0.7617  0.8363  0.7645  0.7967  0.8075  0.7988
OursIndividual2  0.9416  0.9375  0.9344  0.9311  0.9443  0.8343
softMV           0.6549  0.6691  0.6654  0.6654  0.6886  0.6607
OursGlobal       0.9244  0.9091  0.9106  0.9235  0.9089  0.9182
Raykar           0.9424  0.9358  0.9249  0.8774  0.7904  0.6766

In [38]:
t, t_std = create_df(methods_list,to_check, "(R) JS mean")
#t, t_std = create_df(methods_list,to_check, "(R) NormF mean")
t

                    100      500     1500    3500    6000    10000
D_t              125.0000  25.0000  8.3333  3.5714  2.0833  1.2500
DS                 0.0114   0.0656  0.1762  0.2505  0.2875  0.3033
OursIndividual3    0.0162   0.0199  0.0456  0.0987  0.1550  0.2255
hardMV             0.0882   0.0867  0.0894  0.0859  0.0860  0.0878
OursIndividual2    0.0157   0.0216  0.0696  0.1117  0.1853  0.2414
softMV             0.0877   0.0875  0.0882  0.0857  0.0871  0.0876
OursGlobal         0.0797   0.1035  0.1171  0.0964  0.1172  0.1106
Raykar             0.0139   0.0539  0.1129  0.1552  0.1726  0.1822

In [39]:
t, t_std = create_df(methods_list,to_check,"(G) JS")
#t, t_std = create_df(methods_list,to_check,"(G) NormF")
t

                    100      500     1500    3500    6000    10000
D_t              125.0000  25.0000  8.3333  3.5714  2.0833  1.2500
DS                 0.0001   0.0020  0.0052  0.0221  0.0412  0.0527
OursIndividual3    0.0060   0.0043  0.0029  0.0091  0.0166  0.0515
hardMV             0.0196   0.0159  0.0191  0.0160  0.0156  0.0188
OursIndividual2    0.0055   0.0067  0.0095  0.0090  0.0078  0.0254
softMV             0.0166   0.0139  0.0151  0.0138  0.0140  0.0147
OursGlobal         0.0454   0.0481  0.0546  0.0387  0.0584  0.0533
Raykar             0.0018   0.0208  0.0583  0.0915  0.1053  0.1163

In [ ]:
print(tabulate(t,headers='keys',tablefmt='latex'))

In [40]:
t, _ = create_df(methods_list,to_check,"Iner JS")
#t, _ = create_df(methods_list,to_check,"Iner NormF")
t

                  100     500     1500    3500    6000    10000
Ann(tr)          0.0000  0.0000  0.0000  0.0000  0.0000  0.0000
DS               0.0000  0.0000  0.0000  0.0000  0.0000  0.0000
OursIndividual3  0.2886  0.3125  0.3407  0.4686  0.5989  0.7124
hardMV           0.0000  0.0000  0.0000  0.0000  0.0000  0.0000
OursIndividual2  0.2879  0.2891  0.2336  0.3825  0.5453  0.6709
softMV           0.0000  0.0000  0.0000  0.0000  0.0000  0.0000
OursGlobal       0.2297  0.2429  0.2102  0.2404  0.2049  0.1949
Raykar           0.0000  0.0000  0.0000  0.0000  0.0000  0.0000